<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de Generos</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/music_logo.jpg" alt="Logo Musicando">
      </figure>
    <h1>LISTADO DE GENEROS</h1>
    <ul>
        <% for( let i = 0; i < generos.length; i++ ) { %>
        <li style="list-style: decimal;">
            <a href="/generos/detail/<%= generos[i].id %>"><%= generos[i].name %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>